{% extends "layout.html" %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Date</th>
                            <th>Tags</th>
                            <th>Available</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for version in versions %}
                            <tr>
                                <td>{{ version.sha }}</td>
                                <td>{{ version.date }}</td>
                                <td>{{ version.tags }}</td>
                                <td><a href="/gh_papers/{{ version.slug }}">Link</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
